#fileUploader {
  border: 3px dashed #fff;
  height: 550px;
  padding: 0;
  span:last-child{
    font-size: 12px;;
  }
  > i {
    font-size: 5rem;
  }
  > p {
    font-size: 2rem;
  }
  > button {
    font-size: 1.2rem;
  }
}

img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: fill;
}